{% extends "ProyectB/base.html" %}

{% load staticfiles %}

{% block cabezera %}  {% endblock %}

{% block extra %}
       <!-- banner -->
<div class="banner">
    <div class="container">
        <script src="{% static 'js/responsiveslides.min.js' %}"></script>
            <script>
                                    // You can also use "$(window).load(function() {"
                                    $(function () {
                                     // Slideshow 4
                                    $("#slider3").responsiveSlides({
                                        auto: true,
                                        pager: true,
                                        nav: false,
                                        speed: 500,
                                        namespace: "callbacks",
                                        before: function () {
                                    $('.events').append("<li>before event fired.</li>");
                                    },
                                    after: function () {
                                        $('.events').append("<li>after event fired.</li>");
                                        }
                                        });
                                        });
                                </script>

            <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="banner-info">
                            <h3>Proyecto para administración de horarios del departamento CEA</h3>
                        </div>
                    </li>
                    <li>
                        <div class="banner-info">
                            <h3>Instituto Tecnológico de Tijuana</h3>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
<!-- //banner -->
{% endblock %}